@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@font-face {
    font-family: "Poppins-Regular", sans-serif;
    src: url("../../../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Poppins-SemiBold", sans-serif;
    src: url("../../../../fonts/Poppins/Poppins-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-display: swap;
}
body,
html {
    font-family: "Poppins-Regular", sans-serif;
    color: $color-body;
}
.page-title {
    font-family: "Poppins-SemiBold", sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 64px;
    @include fluid-type(font-size, 375px, 1600px, 32px, 56px);
    @include fluid-type(line-height, 375px, 1600px, 36px, 64px);
}

a {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 28px;
}
